USE [studentmanager]
GO
/****** Object:  Table [dbo].[students]    Script Date: 4/22/2026 3:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [varchar](255) NULL,
	[age] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([id], [name], [email], [age]) VALUES (1, N'Nguyễn Văn An', N'an.nguyen@example.com', 20)
INSERT [dbo].[students] ([id], [name], [email], [age]) VALUES (2, N'Lê Thị Bình', N'binh.le@example.com', 21)
INSERT [dbo].[students] ([id], [name], [email], [age]) VALUES (4, N'Trần Minh Tâm', N'tam.tran@example.com', 19)
SET IDENTITY_INSERT [dbo].[students] OFF
GO
